<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="RotteredenService" type="Rotte.WsTrust.RotteredenConfigurationSectionHandler, Rotte.WsTrust" />
  </configSections>

  <RotteredenService>
    <RotteWS>
      <ServiceUrl>https://services-rottereden.demo.miljoeportal.dk/Service.svc</ServiceUrl>
      <EndpointIdentity>services.rottereden.demo.miljoeportal.dk</EndpointIdentity>
      <EncryptionCertificate>
        MIIDzzCCAregAwIBAgIQFaLgJq9nvL5BpGD0ndHUlzANBgkqhkiG9w0BAQsFADAz
        MTEwLwYDVQQDDChzZXJ2aWNlcy5yb3R0ZXJlZGVuLmRlbW8ubWlsam9lcG9ydGFs
        LmRrMB4XDTE3MDExMjIzMjIyMFoXDTM3MDExMjIzMzIyMFowMzExMC8GA1UEAwwo
        c2VydmljZXMucm90dGVyZWRlbi5kZW1vLm1pbGpvZXBvcnRhbC5kazCCASIwDQYJ
        KoZIhvcNAQEBBQADggEPADCCAQoCggEBAJri/rRL78U0hIwBWagU2k/iODEnSmSs
        vKNEP1j9S+fVbqkXpfnuENQrhdcLT5ED9xUazEzc/3W2cHYGx4KHaH8U2IerZUAd
        D9zQ3pfQ5vikCoZMIcM+m6yD9DfWWryjDiiD/MbqSsBorQjQHItDnjJQF5dURlyi
        PjlNb99y1cx5cMaBzlWKmMri3ORxobkrIIos9UnPmcWxYtu7URcC43JzTeW5mgSV
        TXq2pumBzKXU12y8wEksz8PLhuWY9KHGoIBr8F9DRTinR08w/f++nYUYavVX1VFH
        w6IWRU+OtcF/7Hb/Jy22CIXzy3FeNjMqJKNsvvbUyRGRQjyaz6eGjLMCAwEAAaOB
        3jCB2zAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwgZQGCSqG
        SIb3DQEJDwSBhjCBgzAOBggqhkiG9w0DAgICAIAwDgYIKoZIhvcNAwQCAgCAMAcG
        BSsOAwIHMAoGCCqGSIb3DQMHMAsGCWCGSAFlAwQBKjALBglghkgBZQMEAS0wCwYJ
        YIZIAWUDBAEWMAsGCWCGSAFlAwQBGTALBglghkgBZQMEAQIwCwYJYIZIAWUDBAEF
        MB0GA1UdDgQWBBQbAWMHHb+MF7nwhwH9YJTSKO7E+TANBgkqhkiG9w0BAQsFAAOC
        AQEAgOobA3OC1pzYCl3T3nW75w+HMN3Rf1U6GiMxNB+yK4rDwRLVdcbA4nTxcLV1
        SjMKMv8ZJyNWzMftlmSq84MUOFvNMYW/Qb+PapG+xpgP6GDfgIGBcHw0NHBlzwgB
        5xZ3cPgd5uylCzmQ0eKXbGxhnRmPVQsBnpTPKOsjJaBHyHPRkq0QyBDO3cVnO24k
        nYkvHWnOg54opfHljksIR2FHUhHos7N4NGEGpa6A/gYwyBDG43pjySbFir6WxNuB
        muHtJageCPQ41n1Pij7Acq2wEAoSCwY6qV0yBvP0e+WtD5tOwvqAtuLA0IbGZncv
        HlD6GPoHQJVtTZq+Ahdbn1LwZg==
      </EncryptionCertificate>
    </RotteWS>
    <Identify>
      <RemoteEndpoint>https://log-in.test.miljoeportal.dk/runtime/</RemoteEndpoint>
      <IssuedTokenEndpoint>http://log-in.test.miljoeportal.dk/runtime/services/trust/14/issuedtokensymmetricbasic256sha256</IssuedTokenEndpoint>
      <UserNameEndpoint>https://log-in.test.miljoeportal.dk/runtime/services/trust/14/usernamemixed</UserNameEndpoint>
      <CertificateEndpoint>https://log-in.test.miljoeportal.dk/runtime/services/trust/14/certificatemixed</CertificateEndpoint>
      <EndpointIdentity>log-in.test.miljoeportal.dk signing</EndpointIdentity>
      <EncryptionCertificate>
        MIIDODCCAiCgAwIBAgIQFDYzy6ovYapF/zUxCjKNiTANBgkqhkiG9w0BAQUFADAu
        MSwwKgYDVQQDDCNsb2ctaW4udGVzdC5taWxqb2Vwb3J0YWwuZGsgU2lnbmluZzAg
        Fw0yMTAxMDExMjA4NDVaGA8yMDYxMDEwMTEyMDg0NVowLjEsMCoGA1UEAwwjbG9n
        LWluLnRlc3QubWlsam9lcG9ydGFsLmRrIFNpZ25pbmcwggEiMA0GCSqGSIb3DQEB
        AQUAA4IBDwAwggEKAoIBAQC4s21RupQnhomnJyuAc+KULLWw8YpMFwnqYfGxPvaM
        4iLRVT4lijNO8N9/HDmxG1pGai2IKaYHcj7lpfiyLntA8/43ZGCJLdFvym3C8Dt0
        vooE8R+47aha3JCzmnfwAb5sv+3rgqHwQvGcd+YVyECHbyD1x6FFk6ShE2dJhtTm
        IkxnW8vK6uBna7lUeW8F6ZOhqYm3OXeFizdFaVmVrPoSI/QwUXy/ZPeDRxG+GtQz
        pNUOUG4P/nFky6eH4ACC6o6kHY6Dl6+oBLSv9aS71rhvlh3qbIOKt/RA+ZlRTsd4
        jFv8gbFiEaPLXCGg/1HcvP9VSsv93Hsebhjg8xCCv3x7AgMBAAGjUDBOMB0GA1Ud
        JQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAdBgNVHQ4EFgQUBsMxp+xebjJ/34bM
        HimgQSZI0PcwDgYDVR0PAQH/BAQDAgUgMA0GCSqGSIb3DQEBBQUAA4IBAQAdr6Ix
        AQNqX4ye4L4OAQsdTPjgMNWbGAya5Q2RdNrmhvGhsrF13nV4VGmHvqmlm0yjZomP
        rmJBnjdkFKNG2NmRONpWHIIXfN6aQ0g0ZSfLDdESItektf8lpkb6eD2p8yammYtF
        nS1gpUwBI9hYKr0PJ66KKfWrlAk3vBelK8Oe3sLBnotQEWGqyiDqIuqrMOs8Qa/E
        6RFLAF2nsiKUKVnRJwmDupTlXe1p11cL4V8UYN2iFX3HVbGy/Q3igTBQ76bhVqUr
        lvLEHb6eQ2JGFUNx3f2RWtNl0oEkzxUV7HjTQiRJlnF7piIvV/266bQlbsrA/cpN
        d9fUsa1gw+MA8/6T
      </EncryptionCertificate>
      <ActAsCertificate storeLocation="LocalMachine"
                        storeName="My"
                        x509FindType="FindByThumbprint"
                        findValue="314DC4719D8B36523ED832F0643C288D53653015" />
    </Identify>
  </RotteredenService>

  <appSettings>
    <add key="PartnerUrl" value="http://naturappl.blob.core.windows.net/updates/Partnerorganisationer.xml" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>