<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="RotteredenService" type="Rotte.WsTrust.RotteredenConfigurationSectionHandler, Rotte.WsTrust" />
  </configSections>

  <RotteredenService>
    <RotteWS>
      <ServiceUrl>https://services-rottereden.demo.miljoeportal.dk/Service.svc</ServiceUrl>
      <EndpointIdentity>services.rottereden.demo.miljoeportal.dk</EndpointIdentity>
      <EncryptionCertificate>
        MIIDzzCCAregAwIBAgIQFaLgJq9nvL5BpGD0ndHUlzANBgkqhkiG9w0BAQsFADAz
        MTEwLwYDVQQDDChzZXJ2aWNlcy5yb3R0ZXJlZGVuLmRlbW8ubWlsam9lcG9ydGFs
        LmRrMB4XDTE3MDExMjIzMjIyMFoXDTM3MDExMjIzMzIyMFowMzExMC8GA1UEAwwo
        c2VydmljZXMucm90dGVyZWRlbi5kZW1vLm1pbGpvZXBvcnRhbC5kazCCASIwDQYJ
        KoZIhvcNAQEBBQADggEPADCCAQoCggEBAJri/rRL78U0hIwBWagU2k/iODEnSmSs
        vKNEP1j9S+fVbqkXpfnuENQrhdcLT5ED9xUazEzc/3W2cHYGx4KHaH8U2IerZUAd
        D9zQ3pfQ5vikCoZMIcM+m6yD9DfWWryjDiiD/MbqSsBorQjQHItDnjJQF5dURlyi
        PjlNb99y1cx5cMaBzlWKmMri3ORxobkrIIos9UnPmcWxYtu7URcC43JzTeW5mgSV
        TXq2pumBzKXU12y8wEksz8PLhuWY9KHGoIBr8F9DRTinR08w/f++nYUYavVX1VFH
        w6IWRU+OtcF/7Hb/Jy22CIXzy3FeNjMqJKNsvvbUyRGRQjyaz6eGjLMCAwEAAaOB
        3jCB2zAOBgNVHQ8BAf8EBAMCBaAwEwYDVR0lBAwwCgYIKwYBBQUHAwEwgZQGCSqG
        SIb3DQEJDwSBhjCBgzAOBggqhkiG9w0DAgICAIAwDgYIKoZIhvcNAwQCAgCAMAcG
        BSsOAwIHMAoGCCqGSIb3DQMHMAsGCWCGSAFlAwQBKjALBglghkgBZQMEAS0wCwYJ
        YIZIAWUDBAEWMAsGCWCGSAFlAwQBGTALBglghkgBZQMEAQIwCwYJYIZIAWUDBAEF
        MB0GA1UdDgQWBBQbAWMHHb+MF7nwhwH9YJTSKO7E+TANBgkqhkiG9w0BAQsFAAOC
        AQEAgOobA3OC1pzYCl3T3nW75w+HMN3Rf1U6GiMxNB+yK4rDwRLVdcbA4nTxcLV1
        SjMKMv8ZJyNWzMftlmSq84MUOFvNMYW/Qb+PapG+xpgP6GDfgIGBcHw0NHBlzwgB
        5xZ3cPgd5uylCzmQ0eKXbGxhnRmPVQsBnpTPKOsjJaBHyHPRkq0QyBDO3cVnO24k
        nYkvHWnOg54opfHljksIR2FHUhHos7N4NGEGpa6A/gYwyBDG43pjySbFir6WxNuB
        muHtJageCPQ41n1Pij7Acq2wEAoSCwY6qV0yBvP0e+WtD5tOwvqAtuLA0IbGZncv
        HlD6GPoHQJVtTZq+Ahdbn1LwZg==
      </EncryptionCertificate>
    </RotteWS>
    <Identify>
      <RemoteEndpoint>https://log-in.test.miljoeportal.dk/runtime/</RemoteEndpoint>
      <IssuedTokenEndpoint>http://log-in.test.miljoeportal.dk/runtime/services/trust/14/issuedtokensymmetricbasic256sha256</IssuedTokenEndpoint>
      <UserNameEndpoint>https://log-in.test.miljoeportal.dk/runtime/services/trust/14/usernamemixed</UserNameEndpoint>
      <CertificateEndpoint>https://log-in.test.miljoeportal.dk/runtime/services/trust/14/certificatemixed</CertificateEndpoint>
      <EndpointIdentity>log-in.test.miljoeportal.dk signing</EndpointIdentity>
      <EncryptionCertificate>
        MIIDODCCAiCgAwIBAgIQFDYzy6ovYapF/zUxCjKNiTANBgkqhkiG9w0BAQUFADAu
        MSwwKgYDVQQDDCNsb2ctaW4udGVzdC5taWxqb2Vwb3J0YWwuZGsgU2lnbmluZzAg
        Fw0yMTAxMDExMjA4NDVaGA8yMDYxMDEwMTEyMDg0NVowLjEsMCoGA1UEAwwjbG9n
        LWluLnRlc3QubWlsam9lcG9ydGFsLmRrIFNpZ25pbmcwggEiMA0GCSqGSIb3DQEB
        AQUAA4IBDwAwggEKAoIBAQC4s21RupQnhomnJyuAc+KULLWw8YpMFwnqYfGxPvaM
        4iLRVT4lijNO8N9/HDmxG1pGai2IKaYHcj7lpfiyLntA8/43ZGCJLdFvym3C8Dt0
        vooE8R+47aha3JCzmnfwAb5sv+3rgqHwQvGcd+YVyECHbyD1x6FFk6ShE2dJhtTm
        IkxnW8vK6uBna7lUeW8F6ZOhqYm3OXeFizdFaVmVrPoSI/QwUXy/ZPeDRxG+GtQz
        pNUOUG4P/nFky6eH4ACC6o6kHY6Dl6+oBLSv9aS71rhvlh3qbIOKt/RA+ZlRTsd4
        jFv8gbFiEaPLXCGg/1HcvP9VSsv93Hsebhjg8xCCv3x7AgMBAAGjUDBOMB0GA1Ud
        JQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAdBgNVHQ4EFgQUBsMxp+xebjJ/34bM
        HimgQSZI0PcwDgYDVR0PAQH/BAQDAgUgMA0GCSqGSIb3DQEBBQUAA4IBAQAdr6Ix
        AQNqX4ye4L4OAQsdTPjgMNWbGAya5Q2RdNrmhvGhsrF13nV4VGmHvqmlm0yjZomP
        rmJBnjdkFKNG2NmRONpWHIIXfN6aQ0g0ZSfLDdESItektf8lpkb6eD2p8yammYtF
        nS1gpUwBI9hYKr0PJ66KKfWrlAk3vBelK8Oe3sLBnotQEWGqyiDqIuqrMOs8Qa/E
        6RFLAF2nsiKUKVnRJwmDupTlXe1p11cL4V8UYN2iFX3HVbGy/Q3igTBQ76bhVqUr
        lvLEHb6eQ2JGFUNx3f2RWtNl0oEkzxUV7HjTQiRJlnF7piIvV/266bQlbsrA/cpN
        d9fUsa1gw+MA8/6T
      </EncryptionCertificate>
      <ActAsCertificate storeLocation="LocalMachine"
                        storeName="My" 
                        x509FindType="FindByThumbprint" 
                        findValue="314DC4719D8B36523ED832F0643C288D53653015" />
    </Identify>
  </RotteredenService>

  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="https://rottehullet.demo.miljoeportal.dk/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089">
        <trustedIssuers>
          <add thumbprint="DB72FF32F5CA670590A35C6041F12164DB609188" name="CN=log-in.test.miljoeportal.dk signing" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None"></certificateValidation>
    </identityConfiguration>
  </system.identityModel>
  
  <system.identityModel.services>
    <federationConfiguration>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="74D62D0117852C003533510F1787A849ACEACA9A" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
      <wsFederation passiveRedirectEnabled="true" issuer="https://log-in.test.miljoeportal.dk/runtime/WSFederation/WSFederation.idp" realm="https://rottehullet.demo.miljoeportal.dk/" />
      <cookieHandler requireSsl="true"></cookieHandler>
    </federationConfiguration>
  </system.identityModel.services>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
  </system.web>

  <location path="">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    </modules>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>