<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="RotteredenService" type="Rotte.WsTrust.RotteredenConfigurationSectionHandler, Rotte.WsTrust" />
  </configSections>

  <RotteredenService>
    <RotteWS>
      <ServiceUrl>https://services-rottereden.miljoeportal.dk/Service.svc</ServiceUrl>
      <EndpointIdentity>services.rottereden.miljoeportal.dk</EndpointIdentity>
      <EncryptionCertificate>
        MIIDxTCCAq2gAwIBAgIQdqCzp7mwGYBBJaNSI+BWtTANBgkqhkiG9w0BAQsFADAu
        MSwwKgYDVQQDDCNzZXJ2aWNlcy5yb3R0ZXJlZGVuLm1pbGpvZXBvcnRhbC5kazAe
        Fw0xNzAxMTIyMzQ1NThaFw0zNzAxMTIyMzU1NTdaMC4xLDAqBgNVBAMMI3NlcnZp
        Y2VzLnJvdHRlcmVkZW4ubWlsam9lcG9ydGFsLmRrMIIBIjANBgkqhkiG9w0BAQEF
        AAOCAQ8AMIIBCgKCAQEAny9LWJ+P5+zO5PxlEY2JwBKwUnOApH4CAPUPjC1qwMWi
        DJZiAaJgIxQ+IiWvNgH6QM49eUuFXptN2ErNDFbXmpvrVJQ9WD04w7k84HrKOo37
        yDDxP7QgZ2auPZ0Zd+hdTj5JjkIgHeE5c5oi8Walfnn9hOBxuF7xorACr+MtDhvG
        2aChizlkry9rN2jKtGZSw7iCOsvTwZmqiMF395XDxuDHtDlPbzPPKKR4SwitErku
        8Mzl2hKBs0rCbCDseOIDWvEoZ2QLuDiQ53tA5ArDEnQOTHvwyM35Qhf4g/09EAyt
        gfS4nV7ZGnmSFjGNyCusqiZkESXvZV+H7ABgRbS6sQIDAQABo4HeMIHbMA4GA1Ud
        DwEB/wQEAwIFoDATBgNVHSUEDDAKBggrBgEFBQcDATCBlAYJKoZIhvcNAQkPBIGG
        MIGDMA4GCCqGSIb3DQMCAgIAgDAOBggqhkiG9w0DBAICAIAwBwYFKw4DAgcwCgYI
        KoZIhvcNAwcwCwYJYIZIAWUDBAEqMAsGCWCGSAFlAwQBLTALBglghkgBZQMEARYw
        CwYJYIZIAWUDBAEZMAsGCWCGSAFlAwQBAjALBglghkgBZQMEAQUwHQYDVR0OBBYE
        FP2mBgLOBVUEUyVBJu9p/6BPuJvaMA0GCSqGSIb3DQEBCwUAA4IBAQCNu8mxGs34
        UInsnBUObFQwDSJkhO8BmK8zM/CwMATxw5Td94h7S/44kx3cxs7rb9GzUlGeUTks
        +/F/Hj4JrwJANhh5OjrylAseJTCQTdi2MTaHncelclW5aS65jZoD0uin6wp7S1wN
        vzOLkOILnnhDKn4Cq1izlC8j6HXh9GSElO30iXbYLvMRwmzzj4S75ZGKvJN4Lx7f
        guJze0P/sw9LXLz84G0GMmWxrzpM7TgJBm4LxuIE7qFAVL/6OyDl88aWeyuyCDiD
        A4ZuvQkX6D5fosYlHbeS8j8BCFnB8OWb9zwqq2NUX4qVZD5gNqFUc+iZno5MCdS1
        owEgSj+HQbo1
      </EncryptionCertificate>
    </RotteWS>
    <Identify>
      <RemoteEndpoint>https://log-in.miljoeportal.dk/runtime/</RemoteEndpoint>
      <IssuedTokenEndpoint>http://log-in.miljoeportal.dk/runtime/services/trust/14/issuedtokensymmetricbasic256sha256</IssuedTokenEndpoint>
      <UserNameEndpoint>https://log-in.miljoeportal.dk/runtime/services/trust/14/usernamemixed</UserNameEndpoint>
      <CertificateEndpoint>https://log-in.miljoeportal.dk/runtime/services/trust/14/certificatemixed</CertificateEndpoint>
      <EndpointIdentity>log-in.miljoeportal.dk signing</EndpointIdentity>
      <EncryptionCertificate>
        MIIDDTCCAfWgAwIBAgIQOhMUiCIepaRCRORZz+NoKzANBgkqhkiG9w0BAQsFADAp
        MScwJQYDVQQDDB5sb2ctaW4ubWlsam9lcG9ydGFsLmRrIFNpZ25pbmcwHhcNMTQw
        OTE1MTYxMDQzWhcNMjUxMjMxMTYxMDQzWjApMScwJQYDVQQDDB5sb2ctaW4ubWls
        am9lcG9ydGFsLmRrIFNpZ25pbmcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEK
        AoIBAQDBlvVAW1OKMbUwGWbGBFhB2TAMg8TEojiMtzkc4uNurfghpm+t7pX7Ekli
        Szu5dSwkZLo6nAtnUTt+a0ezzFsAd193u3nGZp03MsO82e2AJKUk6zEEKVkpopDl
        VQgSJNyRF7/lnMoNYlSpgepIFXlMD/zA46LXEg4H3txbbNka1CrB80JeJBMLSnKD
        grCsw3vOg0XuSZbM/pqWqZzviEDriDKvaohTshXHMhY7jcUKbHTGekmHypT8epCe
        mVMObbW3InfYesb7+CpzWHuh3gb479Ac2pPEe8HzOgeF2fJG/qZrtC4L+ifZcAHD
        7ss1ljjVI0bReGuP71VCnILokaPJAgMBAAGjMTAvMB0GA1UdDgQWBBQp4kDThJGN
        pi+CfJ8dvMGcOiD/rjAOBgNVHQ8BAf8EBAMCBSAwDQYJKoZIhvcNAQELBQADggEB
        AHTIQBWkzm7jOTQ4fnF6/s9UQgUA5/UNyZlq7sX4cM5osRZYQbusVRHqPKPm3vi+
        kWbk5R+F4kKr6VioE0s2s3xL+XXsNz9TSMD5C/18alNmWiNUsFq2ErBQtug9PwAb
        kE3wjL/YsXwGOBlMM8gDBDb3Lafyv7fb2Hcfp8ZbzWgqs6cL1DZ3cv+2r/EggKF4
        F4vD3zDs48E0v5vccGu9hTMZyHbg1SgTjuCbAFxoPJemaRTnaEojPPxMJ8YN+T55
        XS3Klm2nM33n+aeLr7FxlhVFw0Irfmf2qn5GP/BtH/Il97knekKTOzBtqaOKBJ5Q
        SraGKxO3SGLo02Ynk4tUddg=
      </EncryptionCertificate>
      <ActAsCertificate storeLocation="LocalMachine"
                        storeName="My"
                        x509FindType="FindByThumbprint"
                        findValue="AEE4720D2022701C69DFC23648C4711F717B8760" />
    </Identify>
  </RotteredenService>

  <system.identityModel>
    <identityConfiguration saveBootstrapContext="true">
      <audienceUris>
        <add value="https://rottehullet.miljoeportal.dk/" />
      </audienceUris>
      <issuerNameRegistry type="System.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089">
        <trustedIssuers>
          <add thumbprint="114729AD3969D354BD787B1A46FC550FDFDC2337" name="CN=log-in.miljoeportal.dk signing" />
        </trustedIssuers>
      </issuerNameRegistry>
      <certificateValidation certificateValidationMode="None"></certificateValidation>
    </identityConfiguration>
  </system.identityModel>

  <system.identityModel.services>
    <federationConfiguration>
      <serviceCertificate>
        <certificateReference x509FindType="FindByThumbprint" findValue="C075CD5E929A2C613F77C58E0DD2F3B0499DD4BA" storeLocation="LocalMachine" storeName="My" />
      </serviceCertificate>
      <wsFederation passiveRedirectEnabled="true" issuer="https://log-in.miljoeportal.dk/runtime/WSFederation/WSFederation.idp" realm="https://rottehullet.miljoeportal.dk/" />
      <cookieHandler requireSsl="true"></cookieHandler>
    </federationConfiguration>
  </system.identityModel.services>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <authentication mode="None" />
  </system.web>

  <location path="">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <remove name="FormsAuthenticationModule" />
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      <add name="WSFederationAuthenticationModule" type="System.IdentityModel.Services.WSFederationAuthenticationModule, System.IdentityModel.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    </modules>
  </system.webServer>

  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>